
// @font-face {
//   font-family: 'Syne';
//   src: url('../../assets/css/fonts/syne/Syne-Bold.ttf') format('truetype');
//   font-weight: 700;
// }

// @font-face {
//     font-family: 'Syne';
//     src: url('../../assets/css/fonts/syne/Syne-ExtraBold.ttf') format('truetype');
//     font-weight: 800;
// }

// @font-face {
//     font-family: 'Syne';
//     src: url('../../assets/css/fonts/syne/Syne-Medium.ttf') format('truetype');
//     font-weight: 500;
// }

// @font-face {
//     font-family: 'Syne';
//     src: url('../../assets/css/fonts/syne/Syne-Regular.ttf') format('truetype');
//     font-weight: 400;
// }

// @font-face {
//     font-family: 'Syne';
//     src: url('../../assets/css/fonts/syne/Syne-SemiBold.ttf') format('truetype');
//     font-weight: 600;
// }

// @font-face {
//     font-family: 'Syne';
//     src: url('../../assets/css/fonts/syne/Syne-VariableFont_wght.ttf') format('truetype');
//     font-weight: 100;
// }

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/css/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
      font-family: 'Montserrat';
      src: url('../../assets/css/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
      font-weight: 800;
  }
  
  @font-face {
      font-family: 'Montserrat';
      src: url('../../assets/css/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
      font-weight: 500;
  }
  
  @font-face {
      font-family: 'Montserrat';
      src: url('../../assets/css/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
      font-weight: 400;
  }
  
  @font-face {
      font-family: 'Montserrat';
      src: url('../../assets/css/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
      font-weight: 600;
  }
  
  @font-face {
      font-family: 'Montserrat';
      src: url('../../assets/css/fonts/Montserrat/Syne-VariableFont_wght.ttf') format('truetype');
      font-weight: 100;
  }


// body {
//   font-family: 'Poppins', sans-serif;
// }