- 
    const dataLogoPartner = [
        "./assets/icons/our-partner/tiniapp.svg",
        "./assets/icons/our-partner/adease.svg",
        "./assets/icons/our-partner/Logo (1).svg",
        "./assets/icons/our-partner/Ecoclean-01 2 1.svg",
        "./assets/icons/our-partner/RoviHoldings-Logo-05 1.svg",
        "./assets/icons/our-partner/header-logo 1.svg",
    ];