- 
    const dataTechs = [
        './assets/icons/our-tech/docker.svg',
        './assets/icons/our-tech/css.svg',
        './assets/icons/our-tech/GraphQL logo.svg',
        './assets/icons/our-tech/html5.svg',
        './assets/icons/our-tech/jquery.svg',
        './assets/icons/our-tech/js.svg',
        './assets/icons/our-tech/laravel.svg',
        './assets/icons/our-tech/MySQL logo.svg',
        './assets/icons/our-tech/paypal logo.svg',
        './assets/icons/our-tech/php.svg',
        './assets/icons/our-tech/rails.svg',
        './assets/icons/our-tech/react.svg',
        './assets/icons/our-tech/shopify.svg',
        './assets/icons/our-tech/woocommerce-logo logo.svg',
        './assets/icons/our-tech/Stripe logo.svg',
        './assets/icons/our-tech/WPress.svg',
    ];