- 
    const teamUways = [
        {
            name: "Nhat Nguyen",
            position: "Account Manager",
            avatar: "./assets/images/avatar-team/Profile.png"
        },
        {
            name: "Khoa Tran",
            position: "Developer",
            avatar: "./assets/images/avatar-team/avatar-2.png"
        },
        {
            name: "Dung Nguyen",
            position: "Account Manager",
            avatar: "./assets/images/avatar-team/avatar-3.png"
        },
        {
            name: "Linh Linh",
            position: "Account Manager",
            avatar: "./assets/images/avatar-team/avatar-1.png"
        },
        {
            name: "Nhan Nguyen",
            position: "Account Manager",
            avatar: "./assets/images/avatar-team/avatar-2.png"
        },
        {
            name: "Dung Le",
            position: "Account Manager",
            avatar: "./assets/images/avatar-team/avatar-2.png"
        },
        {
            name: "Phuong Dao",
            position: "Account Manager",
            avatar: "./assets/images/avatar-team/avatar-2.png"
        }
    ]