-
    const dataBlogs = [
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        },
        {
            link: '#',
            name: 'How To Make Epic Website // Frontend development',
            cateogty: 'Actuailité',
            image: './assets/icons/our-blog/Image.svg',
        }
    ]

    const dataBlogTabs = [
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        },
        {
            link: '#',
            name: 'Une nouvelle résidence senior va ouvrir sur Vitrolles',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis',
            cateogty: 'Actuailité',
            image: './assets/images/residence-1.jpg',
        }
    ]