$white: #FFFFFF;
$black: #000000;
$gray: #8898aa;
$gray-dark: #5e6164;
$gray-transparent: rgba(82, 95, 127, 0.3);
$yellow: #ffc300;
$green: #007e15;

$body: #f7f7f7;

$bg-body: #f7f4ef;

$brand-green: #008253;
$brand-gray: #434141;


