extends includes/layout/layout.pug
block pages 
    section.banner-blog
        .container 
            .blog-content 
                h6.content-tab( data-aos="fade-up" data-aos-duration="2000") Dev Source
                h1.content-title( data-aos="fade-up" data-aos-duration="2000") How To Make Epic Website // Frontend development
        .img-banner
            img(src="./assets/images/banner-detail.png")
    section.blog-detail-content-ckedited 
        .container 
            .content-ckedited--body 
                .content-list( data-aos="fade-up" data-aos-duration="2000") 
                    p To create a website, you have at least 2 options: custom web design and website template, each has pros and cons. Understanding the advantages and shortcomings of each is important if you’re going to choose what suits your business.
                        |In the technology era, branding is absolutely essential for your business to reach the public closer. Website is one of the means we can use to promote our brand. A well-designed website is like an unforgettable signature. What do you want it to look like? While businesses should be on social media as they do help with exposure and promoting your business, a website is still a must. Having a website is an opportunity to make a great first impression and give people comfort that you’re a real business. The purpose of a website is to turn visitors into prospects. 
                        |Showcasing your brand to your prospective customers through a website is one of the most crucial things that you can do. To create a website, you have at least 2 options: custom web design and website template, each has pros and cons. Understanding the advantages and shortcomings of each is important if you’re going to choose what suits your business.
                img(src="./assets/images/Youtube.png", alt="attachment")
                .content-list 
                    h3.title-quesion( data-aos="fade-up" data-aos-duration="2000") What is a custom web design?
                    p.answer-for( data-aos="fade-up" data-aos-duration="2000") To create a website, you have at least 2 options: custom web design and website template, each has pros and cons. Understanding the advantages and shortcomings of each is important if you’re going to choose what suits your business.
                       | In the technology era, branding is absolutely essential for your business to reach the public closer. Website is one of the means we can use to promote our brand. A well-designed website is like an unforgettable signature. What do you want it to look like? While businesses should be on social media as they do help with exposure and promoting your business, a website is still a must. Having a website is an opportunity to make a great first impression and give people comfort that you’re a real business. The purpose of a website is to turn visitors into prospects. 
                       | Showcasing your brand to your prospective customers through a website is one of the most crucial things that you can do. To create a website, you have at least 2 options: custom web design and website template, each has pros and cons. Understanding the advantages and shortcomings of each is important if you’re going to choose what suits your business.
            .content-blog-footer 
                .blog-footer-left
                    img(src="./assets/icons/logo-blog-footer.svg", alt="Logo blog") 
                    p.date-release 23 Jun, 2022
                .blog-footer-middle 
                    .content-address 
                        p.address-location Level 9 International Plaza Building, 343 Pham Ngu Lao st, Pham Ngu Lao Ward, Dist. 1, HCM
                        p.address-phone 
                            a(href="tel:+84965935875") + 84 965 935 875
                        p.address-mail 
                            a(href="mailto:hello@uway.asia") hello@uway.asia 
                .blog-footer-right
                    .content-right 
                        h6.content-right-title Share this article
                        ul.content-contact
                            li.contact-item
                                a.item-link(href="#")
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(class="copy-bg" d="M15.4167 21.75L4.25 21.75C3.14543 21.75 2.25 20.8546 2.25 19.75L2.25 8.58335C2.25 7.47878 3.14543 6.58335 4.25 6.58335L15.4167 6.58335C16.5212 6.58335 17.4167 7.47878 17.4167 8.58335L17.4167 19.75C17.4167 20.8546 16.5212 21.75 15.4167 21.75Z" stroke="#141414" stroke-width="1.5" stroke-linecap="round")
                                        path(class="copy" d="M6.58398 6.58333V4.25C6.58398 3.14543 7.47941 2.25 8.58398 2.25H19.7506C20.8552 2.25 21.7506 3.14543 21.7506 4.25V15.4167C21.7506 16.5212 20.8552 17.4167 19.7507 17.4167H17.4173" stroke="#141414" stroke-width="1.5" stroke-linecap="round")
                            li.contact-item
                                a.item-link(href="#")
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M3.90842 11.0952L19.2971 4.44458C20.0208 4.13183 20.8049 4.74041 20.6815 5.51906L18.5774 18.795C18.4475 19.6151 17.4326 19.9287 16.8626 19.325L13.529 15.7699C12.8518 15.0526 12.7988 13.9488 13.404 13.1698L15.7227 9.92966C15.8621 9.75029 15.642 9.51431 15.4533 9.64086L10.606 12.8927C9.78344 13.4445 8.78538 13.6715 7.80505 13.5297L4.16199 13.0028C3.164 12.8585 2.98279 11.4952 3.90842 11.0952Z" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                            li.contact-item
                                a.item-link(href="#")
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6 9H2V21H6V9Z" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                        path(d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8V8Z" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                        path(d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                            li.contact-item
                                a.item-link(href="#")
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M18 3H15C12.2386 3 10 5.23858 10 8V10H6V14H10V21H14V14H18V10H14V8C14 7.44772 14.4477 7 15 7H18V3Z" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                            li.contact-item
                                a.item-link(href="#")
                                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M23 2.99998C22.0424 3.67546 20.9821 4.19209 19.86 4.52999C19.2577 3.8375 18.4573 3.34668 17.567 3.12391C16.6767 2.90115 15.7395 2.95718 14.8821 3.28444C14.0247 3.6117 13.2884 4.19439 12.773 4.9537C12.2575 5.71302 11.9877 6.61232 12 7.52998V8.52998C10.2426 8.57555 8.50127 8.1858 6.93101 7.39543C5.36074 6.60506 4.01032 5.43862 3 3.99998C3 3.99998 -1 13 8 17C5.94053 18.398 3.48716 19.0989 1 19C10 24 21 19 21 7.49998C20.9991 7.22144 20.9723 6.94358 20.92 6.66999C21.9406 5.66348 22.6608 4.3927 23 2.99998Z" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
    section.other-articles.blog-list 
        .container
            h2.other-articles-title( data-aos="fade-up" data-aos-duration="1000") Other articles
            .row 
                include includes/components/post-item.pug
                include includes/common/data-blog.pug
                each item, index in dataBlogs
                    if index < 3 
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12 
                            +postItem(item) 


        