mixin animationRollingText()    
    .animation-flowing-slice(data-scroll-speed="10") 
        .flow-animationp-text(data-text="We‘re experts!") We‘re experts!  <span> <img src="./assets/icons/hand.svg" alt="icon text"/></span>  We‘re experts! <span> <img src="./assets/icons/hand.svg" alt="icon text"/></span>  We‘re experts!  