mixin expertIn(data)
    .expert-in-item( data-aos="fade-up" data-aos-duration="1500") 
        img(src="./assets/icons/Backhand Index Pointing Right Dark Skin Tone.svg", alt="Backhand Index Pointing Right Dark Skin Tone")
        h3.item-title=data.title