mixin Panigation()
    ul.pagination 
        li.pagination-item.per
            a(href="#").item-link 
                img(src="./assets/icons/arrow-right-2.svg", alt="icon per")
        li.pagination-item.active 
            a(href="#").item-link 1
        li.pagination-item 
            a(href="#").item-link 2
        li.pagination-item 
            a(href="#").item-link ...
        li.pagination-item 
            a(href="#").item-link 6
        li.pagination-item 
            a(href="#").item-link 7
        li.pagination-item.next
            a(href="#").item-link 
                img(src="./assets/icons/arrow-left-2.svg", alt="icon next")