mixin projectItem()
    .project-item.portfolio-grid-item(data-cursor="View<br>Project") 
        .item-image.pgi-image-wrap
            a(href="./work-detail.html")   
                img(src="./assets/icons/our-project/project-two.svg", alt="")
        h3.item-name.pgi-title 
            a(href="./work-detail.html").item-name-link Project Name  
        ul.item-tab 
            li.tab
                a(href="#").tab-link  E-commerce
            li.tab
                a(href="#").tab-link  E-commerce
            li.tab
                a(href="#").tab-link  E-commerce
