mixin Select(data)
    .select-contact
        label(for="").label-name=data.label 
        .click-show-dropdow 
            input.valua-time(type='hidden' value="1")
            h6.time-text I'm interested in... 
            img(src="./assets/icons/arrow-down-2.svg", alt="Arrow").arrow
            ul.dropdown
                li.dropdown-item
                    input.get-valua-number(type='hidden' value="1" )
                    span.get-valua-text 1 davadement
                li.dropdown-item
                    input.get-valua-number(type='hidden' value="1" )
                    span.get-valua-text 1 davadement
                li.dropdown-item
                    input.get-valua-number(type='hidden' value="1" )
                    span.get-valua-text 1 davadement
                li.dropdown-item
                    input.get-valua-number(type='hidden' value="1" )
                    span.get-valua-text 1 davadement
