mixin serviceItem()
    .service-item 
        .item-image 
            img(src="./assets/icons/our-service/service-one.svg", alt="")
        h3.item-title( data-aos="fade-up" data-aos-duration="1000") Digital Transformation
        h6.item-description( data-aos="fade-up" data-aos-duration="1200")  Competitive Advantage
        h6.item-description( data-aos="fade-up" data-aos-duration="1200")  Optimizing time-to-value
        h6.item-description( data-aos="fade-up" data-aos-duration="1200")  Increased productivity