mixin ServiceSection(data)
    .service-list 
        h3.list-title=data.name
        p.list-description This is where it all begins. Pick the brains of our expert teams, try out fresh ideas, discover new technologies, and allow us to bring your vision to life.
            | Using our energy, innovation and world-class knowledge will deliver one result - a bespoke product that perfectly meets your business needs.
        ul.list-word 
            li.word-item VISION WORKSHOPS
            li.word-item VISION WORKSHOPS
            li.word-item VISION WORKSHOPS
            li.word-item VISION WORKSHOPS
            li.word-item VISION WORKSHOPS