.timeline-content.tt-animation  
    .timeline-center
        .dot
            .dot-top 
            .dot-bottom
    .timeline-content-item.animation-fly 
        span.number-line( data-aos="fade-up" data-aos-duration="1000") 1. 
        h3.item-title( data-aos="fade-up" data-aos-duration="1000") Research & Discovery 
        p.item-description( data-aos="fade-up" data-aos-duration="1200")  Designing the product’s information architecture helps to anticipate and meet the needs of its future users as effectively as possible. We then move on to designing highly detailed wireframes and working on 
    .timeline-content-item.animation-fly 
        span.number-line( data-aos="fade-up" data-aos-duration="1000") 2. 
        h3.item-title( data-aos="fade-up" data-aos-duration="1000") Business Planning & Strategy
        p.item-description( data-aos="fade-up" data-aos-duration="1200")  We get objectives and goals into flexible plans as well as a longer-term roadmap. From buy-in to launch planning and beyond, we’ll help you to develop a strategy that works for your business, promotes stakeholder and user engagement, and guarantees your product hits the ground running.
    .timeline-content-item.animation-fly  
        span.number-line( data-aos="fade-up" data-aos-duration="1000") 3.
        h3.item-title( data-aos="fade-up" data-aos-duration="1000") UX & UI Design
        p.item-description( data-aos="fade-up" data-aos-duration="1200")  At this stage, we work on determining the product’s visual direction, its identity, and the final design of all layouts and other graphics.
    .timeline-content-item.animation-fly  
        span.number-line( data-aos="fade-up" data-aos-duration="1000") 4.
        h3.item-title( data-aos="fade-up" data-aos-duration="1000") Development
        p.item-description( data-aos="fade-up" data-aos-duration="1200")  Development progress is divided into a series of sprints. The end result of our well-established planned, and QA testing. It helps the ability to release products quickly and offers huge business value as soon as possible.
    .timeline-content-item.animation-fly  
        span.number-line( data-aos="fade-up" data-aos-duration="1000") 5.
        h3.item-title( data-aos="fade-up" data-aos-duration="1000") Launch, Testing & Optimization
        p.item-description( data-aos="fade-up" data-aos-duration="1200")  Just because the product has been launched, it doesn’t mean that interaction with the client is over. We prepare all files and libraries so that internal teams can manage the product in the future. We also work as advisors, and are always open to getting involved in both further project development and product fine-tuning.
