mixin ValuesAccordion() 
    .animated-accordion
        .container 
            .row 
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-12
                    .accordion-sections
                        ul.accordion-list
                            li(class="active" data-index="1" data-cursor="Expand") 
                                .accordion-header 
                                    h3(class="acc-title") Credibility
                                    .icon 
                                div(class="acc-content" style="display: block") 
                                    p We believe that success begins with the smallest things, and failure also comes from the smallest things. Therefore, we are always responsible for the smallest things that customers have trusted in us.
                            li( data-index="2" data-cursor="Expand")
                                .accordion-header 
                                    h3(class="acc-title") Understanding
                                    .icon 
                                div(class="acc-content" style="display: none") 
                                    p We believe that success begins with the smallest things, and failure also comes from the smallest things. Therefore, we are always responsible for the smallest things that customers have trusted in us.
                            li( data-index="3" data-cursor="Expand")
                                .accordion-header 
                                    h3(class="acc-title") Responsibility
                                    .icon 
                                div(class="acc-content" style="display: none") 
                                    p We believe that success begins with the smallest things, and failure also comes from the smallest things. Therefore, we are always responsible for the smallest things that customers have trusted in us.

                .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-12   
                    .accordion-image-wrap 
                        div(class="image-slide active" data-index="1")
                            span(style="background-image: url('https://img.wallpapersafari.com/desktop/1280/1024/50/48/NJY9c1.jpg')")
                        div(class="image-slide" data-index="2")
                            span(style="background-image: url('https://img.wallpapersafari.com/desktop/1280/1024/4/84/IU7o8m.jpg')")
                        div(class="image-slide" data-index="3")
                            span(style="background-image: url('https://img.wallpapersafari.com/desktop/1280/1024/4/84/IU7o8m.jpg')")
